<%= render '/layouts/layout' %>
<p style="color: green"><%= notice %></p>

<%# <h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p> %>
<h1><%= @title %></h1>
<p><%= @description %></p>

<p> Welcome to COMICS characters, the ultimate application for exploring information about famous comics! Our platform provides comprehensive details about each comic and its individual characters. Additionally, we offer powerful filtering options based on character origin, as well as the ability to discover characters who possess similar powers.
</p>

<p> 
</p>

