<%= render '/layouts/layout' %>
<p style="color: green"><%= notice %></p>

<%# <h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p> %>
<h1><%= @title %></h1>
<p><%= @description %></p>

  <!-- Bootstrap styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">

<p>This application shows information about famous comics. You can find details about each comic and its individual characters. Additionally, you have the ability to filter characters by origin and explore those who share the same power.</p>
  <h2>Data Sources</h2>
  <p>In this project, we used two datasets:</p>
  <ul>
    <li>For character information, we utilized the <a href="https://comicvine.gamespot.com/api/characters/?api_key=5f517188a6f8c4e8daff13e9950f1321b0200271&limit=100&offset=0&format=json">Characters API</a> from Comic Vine.</li>
    <li>For powers and the relation between powers and characters, we relied on the <a href="https://comicvine.gamespot.com/api/powers/?api_key=5f517188a6f8c4e8daff13e9950f1321b0200271&offset=0&format=json">Powers API</a> from Comic Vine.</li>
  </ul>

</head>
<body>
  <div class="container">
    <h2>Characters Table</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Type</th>
          <th>Schema</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Id</td>
          <td>integer</td>
          <td>"id" integer NOT NULL</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>varchar</td>
          <td>"name" varchar</td>
        </tr>
        <tr>
          <td>api_detail_url</td>
          <td>varchar</td>
          <td>"api_detail_url" varchar</td>
        </tr>
        <tr>
          <td>count_of_issue_appearances</td>
          <td>integer</td>
          <td>"count_of_issue_appearances" integer</td>
        </tr>
        <tr>
          <td>deck</td>
          <td>varchar</td>
          <td>"deck" varchar</td>
        </tr>
        <tr>
          <td>description</td>
          <td>varchar</td>
          <td>"description" varchar</td>
        </tr>
        <tr>
          <td>gender</td>
          <td>varchar</td>
          <td>"gender" varchar</td>
        </tr>
        <tr>
          <td>image</td>
          <td>varchar</td>
          <td>"image" varchar</td>
        </tr>
        <tr>
          <td>origin_id</td>
          <td>integer</td>
          <td>"origin_id" integer</td>
        </tr>
        <tr>
          <td>publisher_id</td>
          <td>integer</td>
          <td>"publisher_id" integer</td>
        </tr>
        <tr>
          <td>real_name</td>
          <td>varchar</td>
          <td>"real_name" varchar</td>
        </tr>
        <tr>
          <td>created_at</td>
          <td>datetime(6)</td>
          <td>"created_at" datetime(6) NOT NULL</td>
        </tr>
        <tr>
          <td>updated_at</td>
          <td>datetime(6)</td>
          <td>"updated_at" datetime(6) NOT NULL</td>
        </tr>
      </tbody>
    </table>
    <%# Character Power Table %>
    <h2>characters_powers Table</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Type</th>
          <th>Schema</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>id</td>
          <td>integer</td>
          <td>"id" integer NOT NULL</td>
        </tr>
        <tr>
          <td>character_id</td>
          <td>integer</td>
          <td>"character_id" integer NOT NULL</td>
        </tr>
        <tr>
          <td>power_id</td>
          <td>integer</td>
          <td>"power_id" integer NOT NULL</td>
        </tr>
        <tr>
          <td>created_at</td>
          <td>datetime(6)</td>
          <td>"created_at" datetime(6) NOT NULL</td>
        </tr>
        <tr>
          <td>updated_at</td>
          <td>datetime(6)</td>
          <td>"updated_at" datetime(6) NOT NULL</td>
        </tr>
      </tbody>
    </table>

    <!-- Origin table -->

    <h2>Origins Table</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Type</th>
          <th>Schema</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Id</td>
          <td>integer</td>
          <td>"id" integer NOT NULL</td>
        </tr>
        <tr>
          <td>Origin</td>
          <td>varchar</td>
          <td>"origin" varchar</td>
        </tr>
        <tr>
          <td>created_at</td>
          <td>datetime(6)</td>
          <td>"created_at" datetime(6) NOT NULL</td>
        </tr>
        <tr>
          <td>updated_at</td>
          <td>datetime(6)</td>
          <td>"updated_at" datetime(6) NOT NULL</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <!-- Scripts Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
