<%= render '/layouts/layout' %>
<p style="color: green"><%= notice %></p>

<%# <h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p> %>
<h1><%= @title %></h1>
<p><%= @description %></p>

<p>This application shows information about famous comics. You can find details about each comic and its individual characters. Additionally, you have the ability to filter characters by origin and explore those who share the same power.</p>
  <h2>Data Sources</h2>
  <p>In this project, we used two datasets:</p>
  <ul>
    <li>For character information, we utilized the <a href="https://comicvine.gamespot.com/api/characters/?api_key=5f517188a6f8c4e8daff13e9950f1321b0200271&limit=100&offset=0&format=json">Characters API</a> from Comic Vine.</li>
    <li>For powers and the relation between powers and characters, we relied on the <a href="https://comicvine.gamespot.com/api/powers/?api_key=5f517188a6f8c4e8daff13e9950f1321b0200271&offset=0&format=json">Powers API</a> from Comic Vine.</li>
  </ul>