<%= render '/layouts/layout' %>
<p style="color: green"><%= notice %></p>


<h1>Characters with Origin: <%= @origin.origin %></h1>

<ul>
  <% @characters.each do |character| %>
    <li><%= link_to character.name, character %></li>
  <% end %>
</ul>
